@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    background: #fff;
    font-family: Poppins;
}

.index_img{
    display: flex;
    position: fixed;
    width: 90%;
    left: 35%;
    top: 120px;

}

.navbar_web{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: rgb(170, 218, 197);
    z-index: 10;
    
}

.navbar_web li, a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(66, 90, 90);
}

.usuario_nav{
    font-weight: 600;
}

.nav_links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}


.nav_links li{
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}


.nav_links li a:hover{
    color: white;
}



.logo{
    transform: scale(0.8);
    margin-right: auto;
}

.name_logo{
    font-size: 16px;
    position: absolute;
    left: 74px;
    font-weight: 600;
    color: rgb(66, 90, 90);
}

.profile_pic{
    transform: scale(0.3);
    position: absolute;
    right: -18px;
}


.contenedor_nombre{
    position: fixed;
    background-color: rgb(170, 218, 197);
    width: 100%;
    height: 90px;
    font-size: 36px;
    font-weight: 600;
    left: 0px;
    top: 0px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px ;
    z-index: 4;
    

}

.contenedor_nombre span{
    
    font-weight: 400;
}


.contenedor_titulo{
   
    position: relative;
    font-size: 18px;
    top: 90px;
    width: 100%;
    height: 30px;
    text-align: center;
    z-index: 1;
    
}


.contenedor_mapa{
    position: relative;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
}

.mymap{
    transform: scale(2); 
    position: absolute;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.objeto{

    position: absolute;

}

#caribe{
    
    top: 21px;
    left: 58px;
}

#caribe:hover{
    filter: drop-shadow(1px 1px 0 rgb(61, 61, 61)) 
    drop-shadow(-1px -1px 0 rgb(61, 61, 61));
    z-index: 3;
}

#andina{
    top: 79px;
    left: 88px;
    
}

#andina:hover{
    filter: drop-shadow(1px 1px 0 rgb(61, 61, 61)) 
    drop-shadow(-1px -1px 0 rgb(61, 61, 61));
    z-index: 3;
}


#pacifica{
    top: 91px;
    left: 52px;
}

#pacifica:hover{
    filter: drop-shadow(1px 1px 0 rgb(61, 61, 61)) 
    drop-shadow(-1px -1px 0 rgb(61, 61, 61));
    z-index: 3;
}


#orinoco{
    top: 118px;
    left: 128px;
}

#orinoco:hover{
    filter: drop-shadow(1px 1px 0 rgb(61, 61, 61)) 
    drop-shadow(-1px -1px 0 rgb(61, 61, 61));
    z-index: 3;
}


#amazonia{
    top: 172px;
    left: 85.5px;
}

#amazonia:hover{
    filter: drop-shadow(1px 1px 0 rgb(61, 61, 61)) 
    drop-shadow(-1px -1px 0 rgb(61, 61, 61));
    z-index: 3;
}

.contenedor_recomendaciones{
    position: relative;
    margin: 15px;
    font-size: 20px;
}

.galeria_recomendaciones{
    position: relative;
    max-height: 500px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.galeria_recomendaciones .foto{
    min-width: 277px;
    height: 270px;
    margin-right: 2px;
}
.galeria_recomendaciones img{
    transform: scale(1.3);
}

.galeria_recomendaciones figcaption{
    position: relative;
    left: -30px;
    top: 20px;
    font-weight: 600;
}



#description{
    font-size: 12px;
    position: relative;
    left: -30px;
    top: 20px;
}

#rating{
    transform: scale(0.5);
    position: relative;
    left: -86px;
    top: 10px;
}

#score{
    position: relative;
    left: 80px;
    top: -20px;
}

#calendar{
    transform: scale(0.08);
    position: relative;
    left: -125px;
    top: -75px;
}

#location{
    transform: scale(0.07);
    position: relative;
    left: -3px;
    top: -333px;
}

#date{
    font-size: 11px;
    position: relative;
    top: -195px;
}

#place{
    position: relative;
    font-size: 11px;
    left: 114px;
    top: -467px;
}


.contenedor_menu{

    display: none;
    position: fixed;
    bottom: 10px;
    background: rgb(170, 218, 197);
    border-radius: 25px;
    width: 100%;
    height: 60px;
    left: 0px;
    justify-content: space-evenly;
    align-items: center;
}


.contenedor_menu a{
    display: inline-block;
    line-height: 80px;
    height: 80px;

}



.contenedor_menu img{
    width: 80%;
}


#item{
    margin-top: -35;
    width: 90%;
}

.titulo_region{
    position: fixed;
    background-color: rgb(170, 218, 197);
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 800;
    left: 0px;
    top: 0px;
    text-align: center;
    display: none;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
   
    
}

.titulo_caribe{
    position: fixed;
    background-color: rgb(170, 218, 197);
    width: 100%;
    height: 60px;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 10px;
    left: 0px;
    top: 30px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
    
}

.contenedor_ldi{

    position: absolute;
    font-size: 18px;
    top: 835px;
    left: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;

}

.galeria{
    position: relative;
    top: 440px;
    max-height: 180px;
    display: flex;
    overflow-x: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.galeria::-webkit-scrollbar{
    width: 0;
}

.galeria .foto{
    min-width: 200px;
    height: 170px;
    line-height: 20px;
    text-align: center;
    margin-right: 2px;

}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}


figcaption {
    color: black;
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.contenedor_about{

    position: absolute;
    font-size: 18px;
    top: 560px;
    left: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;

}

.contenedor_cuerpo{
    display: none;
    position: absolute;
    margin-left: 15px;
    margin-right: 15px;
    top: 600px;
}

#contenedor_text1{
    font-size: 14px;
    margin-bottom: 15px;
}

#contenedor_text2{
    font-size: 14px;
    margin-bottom: 40px;
}
.contenedor_cuerpo img{
    width: 80%;
    min-width: 170px;
    max-width: 190px;
}


.contenedor_login{
    position: absolute;
    background-color: rgb(170, 218, 197);
    width: 385px;
    height: 500px;
    top: 50%;
    margin-left: -180px;
    margin-top: -250px;
    left: 50%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.contenedor_login label{
    text-align: left;
}

.campo_formulario{
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 300px;
}


.lbl_contrasena{
    margin-top:10px;
}

#boton_ingresar{
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 150px;
    background: rgb(133, 188, 164);
    color: rgb(70, 70, 70);
}
#boton_crear{
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 150px;
    background: none;
    color: rgb(70, 70, 70);
}
#boton_recuperar{
    border-radius: 6px;
    border: none;
    height: 20px;
    width: 150px;
    background: none;
    color: rgb(133, 133, 133);
}

/* .crear_contrasena{
    position: absolute;
    background-color: rebeccapurple;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0px;
    top: 150px;
}
.contenedor_cc{
    position: relative;
    background-color: rgb(191, 213, 190);
    width: 385px;
    height: 500px;
    min-width: 300px;
    text-align: center;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.texto_crear{
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    align-items: center;
    height: 2px;
}

.texto_email{
    display: flex;
    justify-content: flex-start;
    height: 2px;
}
.texto_username{
    display: flex;
    justify-content: flex-start;
    height: 2px;
}
.texto_password{
    display: flex;
    justify-content: flex-start;
    height: 2px;
}

#boton_inicio{
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 150px;
    background: rgb(144, 172, 142);
    color: rgb(70, 70, 70);
} */

.cc{
    display: flex;
    justify-content: center;
    
}

.contendedor_registro{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    top: 200px;
    background: rgb(191, 213, 190);
    border-radius: 25px;
}

#botoncito{
    background: rgb(144, 172, 142);
    display:flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    border-radius: 6px;
    border: none;
    width: 200px;
    height: 30px;
    align-items: center;
}

#botoncito2{
    display:flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    border: none;
    border-radius: 6px;
    background: none;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(88, 88, 88);
}

#registro{
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 20px;
}




.dropbtn {
   
    padding: 16px;
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    z-index: 2;
}
  
.dropup {
    display: none;
    position: fixed;
    justify-content: flex-end;
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    width: 99%;
    height: 60px;
    left: 0px;
    align-items: center;
    z-index: 10;
}
  
.dropup-content {
    display: none;
    position: absolute;
    min-width: 100px;
    bottom: 85px;
    z-index: 2;
}
  
.dropup-content a {
    padding: 20px 11px;
    display: block;
    
}
  
/* 
  
.dropup:hover .dropup-content {
    display: block;

} */

.mostrar{
    display: block !important;
}

.panel{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
}

.titulo_web{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    position: absolute;
    top: 60px;
    left: 15px;
}

.gallery2{
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 110px;
    left: 15px;
}

.cuerpo_web{
    margin-left: 15px;
    margin-right: 15px;
}

.limite{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 6;
}

.contenedor_perfil{
   
    width: 90%;
    display: flex;
    position: fixed;
    top: 90px;
    left:50%;
    margin-left: -45%;
    z-index: 10;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 0.8fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.review1 { grid-area: 1 / 1 / 2 / 2; }
.review2 { grid-area: 2 / 1 / 3 / 2; }
.review3 { grid-area: 3 / 1 / 4 / 2; }
.review4 { grid-area: 4 / 1 / 5 / 2; }
.review5 { grid-area: 5 / 1 / 6 / 2; }
.review6 { grid-area: 6 / 1 / 7 / 2; }
.review7 { grid-area: 7 / 1 / 8 / 2; }
.review8 { grid-area: 8 / 1 / 9 / 2; }
.review9 { grid-area: 9 / 1 / 10 / 2; }
.review10 { grid-area: 10 / 1 / 11 / 2; }
    

.parent {
    border-radius: 25px;
    margin: none;
    display: grid;
    width: 100%;
    border: 10px solid;
    background-color: rgb(186, 228, 210);
    border-color:rgb(186, 228, 210); 
    padding: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
   
.div1 { 
    grid-area: 1 / 1 / 4 / 2; 
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.div2 { grid-area: 1 / 2 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 6; }
.div4 { grid-area: 1 / 6 / 2 / 7; }
.div5 { 
    grid-area: 2 / 2 / 3 / 4;
    color: rgb(80, 130, 124);
    font-weight: 100;
}
.div6 { 
    grid-area: 2 / 4 / 3 / 6; 
    font-weight: 100;
}
.div7 { 
    grid-area: 4 / 2 / 5 / 3; 
}
.div8 { 
    grid-area: 4 / 3 / 5 / 4; 
}
.div9 { 
    grid-area: 4 / 4 / 5 / 5; 
}
.div10 { 
    grid-area: 4 / 5 / 5 / 6; 
}
.div11 { 
    grid-area: 5 / 2 / 6 / 3; 
    color: rgb(80, 130, 124);
    font-weight: 100;
}
.div12 { 
    grid-area: 5 / 3 / 6 / 4; 
    color: rgb(80, 130, 124);
    font-weight: 100;
}
.div13 { 
    grid-area: 5 / 4 / 6 / 5;
    color: rgb(80, 130, 124);
    font-weight: 100;
}
.div14 { 
    grid-area: 5 / 5 / 6 / 6; 
    color: rgb(80, 130, 124);
    font-weight: 100;
}

.contenedor_reviews{
    
    
    width: 90%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    top: 390px;
    left:50%;
    margin-left: -45%;
}

.parent2{
    border: 2px solid;
    border-color: rgb(170, 218, 197);
    border-radius: 25px;
    margin: 10px;
    max-width: 1145px;
    min-width: 975px;
}


.review2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    margin: 20px;
    
}






.div15 { 
    grid-area: 1 / 1 / 5 / 2; 
    display: flex;
    justify-content: center;
}
.div16 { 
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    justify-content: flex-start;
}
.div17 { 
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: flex-end;
    color: rgb(80, 130, 124);
    font-weight: 100;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: underline;     
    text-decoration-color: rgb(80, 130, 124);
 }
.div18 { grid-area: 2 / 2 / 3 / 4; }
.div19 { 
    grid-area: 3 / 2 / 4 / 4;
    color: rgb(80, 130, 124);
    font-weight: 100;
    font-size: 14px;
}
.div20 { 
    grid-area: 4 / 2 / 5 / 5; 
    font-weight: 200;
    margin-right: 64px;
}


.nav_perfil{
    display: flex;
    position: relative;
    top: 337px;
}

.parent3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}
    
.div21 { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
}

.underline_txt{
    border-bottom: 2px solid rgb(80, 130, 124);
    padding-bottom: 5px;
    font-size: 16px;
    color: black;
    
}

.underline_txt:hover{
    color: rgb(80, 130, 124);
}

.perfil_nav_txt a{
    transition: all 0.3s ease 0s;
    font-size: 16px;
    color: black;
}


.perfil_nav_txt a:hover{
    color: rgb(80, 130, 124);
}




.div22 { 
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    justify-content: center;
}
.div23 { 
    grid-area: 1 / 3 / 2 / 4; 
    display: flex;
    justify-content: center;
}
.div24 { 
    grid-area: 1 / 4 / 2 / 5; 
    display: flex;
    justify-content: center;
}
.div25 { 
    grid-area: 1 / 5 / 2 / 6; 
    display: flex;
    justify-content: center;
}
    

.contenedor_pub{
    width: 90%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    top: 390px;
    left:50%;
    margin-left: -45%;
}
.pub {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.pub1 { 
    grid-area: 1 / 1 / 2 / 2; 
    border: 2px solid;
    border-color: rgb(170, 218, 197);
    border-radius: 25px;
    margin: 10px;
    min-width: 1310px;
    max-width: 1389px;
}
.pub2 { 
    grid-area: 2 / 1 / 3 / 2;
    border: 2px solid;
    border-color: rgb(170, 218, 197);
    border-radius: 25px;
    margin: 10px;
    min-width: 1310px;
    max-width: 1389px;
}
.pub3 { 
    grid-area: 3 / 1 / 4 / 2; 
    border: 2px solid;
    border-color: rgb(170, 218, 197);
    border-radius: 25px;
    margin: 10px;
    min-width: 1310px;
    max-width: 1389px;
}
.pub4 { 
    grid-area: 4 / 1 / 5 / 2; 
    border: 2px solid;
    border-color: rgb(170, 218, 197);
    border-radius: 25px;
    margin: 10px;
    min-width: 1310px;
    max-width: 1389px;
}
.pub5 { 
    grid-area: 5 / 1 / 6 / 2; 
    border: 2px solid;
    border-color: rgb(170, 218, 197);
    border-radius: 25px;
    margin: 10px;
    min-width: 1310px;
    max-width: 1389px;
}
    
.parent_publicacion {
    display: grid;
    grid-template-columns: 0.05fr 0.4fr 1fr 0.04fr 0.2fr;
    grid-template-rows: repeat(2, 0.05fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div26 { 
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.div27 { grid-area: 1 / 4 / 2 / 5; }
.div28 { 
    grid-area: 1 / 5 / 2 / 6; 
    display: grid;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 15px;
}
.div29 { 
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 15px;
}
.div30 { 
    grid-area: 2 / 2 / 3 / 3; 
    margin-left: 5px;
    font-size: 14px;
    font-weight: 200;
    align-items: center;
    display: flex;
}
.div31 { 
    grid-area: 3 / 1 / 4 / 3; 
    margin: 15px;
}
.div32 { 
    grid-area: 3 / 3 / 4 / 4; 
    font-weight: 200;
    margin-top: 15px;
}
.div33 { 
    grid-area: 3 / 4 / 4 / 6; 
    display: flex;
    justify-content: flex-end;
    color: rgb(80, 130, 124);
    font-weight: 100;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: underline;     
    text-decoration-color: rgb(80, 130, 124);
    align-items: end;
    margin-bottom: 15px;
    margin-right: 15px;
  
}


.contenedor_perfil_tablet{
    width: 90%;
    display: none;
    position: fixed;
    top: 35px;
    left:50%;
    margin-left: -45%;
    z-index: 7;
    background-color: rgb(186, 228, 210);
    border: 10px solid;
    border-radius: 25px;
    border-color:rgb(186, 228, 210);
    min-width: 500px;
    
}

.parent_perfil_tablet {
    display: none;
    grid-template-columns: repeat(2, 0.1fr) repeat(3, 0.5fr) 1fr;
    grid-template-rows: repeat(6, 0.3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    align-items: center;
    
}

.div34 { 
    grid-area: 1 / 2 / 5 / 4; 
    display: flex;
    justify-content: center;
    margin-right: 20%;

}
.div35 { grid-area: 1 / 4 / 2 / 6; 
    color: rgb(70, 70, 70);

}
.div36 { 
    grid-area: 1 / 6 / 2 / 7; 
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
.div37 { 
    grid-area: 2 / 4 / 3 / 6; 
    color: rgb(80, 130, 124);
    font-weight: 100;
}
.div38 { 
    grid-area: 3 / 4 / 4 / 5; 
    color: rgb(70, 70, 70);
}
.div39 { 
    grid-area: 3 / 5 / 4 / 6; 
    color: rgb(70, 70, 70);
}
.div40 { 
    grid-area: 4 / 4 / 5 / 5; 
    font-weight: 200;
}
.div41 { 
    grid-area: 4 / 5 / 5 / 6; 
    font-weight: 200;
}
.div42 { 
    grid-area: 5 / 2 / 6 / 3; 
    margin-top: 20px;

}
.div43 { 
    grid-area: 5 / 3 / 6 / 6; 
    font-weight: 200;
    font-size: 14px;
    margin-top: 20px;
}
.div44 { grid-area: 6 / 2 / 7 / 3; }
.div45 { 
    grid-area: 6 / 3 / 7 / 5; 
    font-weight: 200;
    font-size: 14px;
    color: rgb(70, 70, 70);
}
    

#boton_reviews{
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 150px;
    background: rgb(133, 188, 164);
    color: rgb(70, 70, 70);
    position: relative;
    left: 3%;
    margin-top: 10px;
}
#boton_pubs{
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 150px;
    background: rgb(133, 188, 164);
    color: rgb(70, 70, 70);
    position: relative;
    left: 4%;
    margin-top: 10px;
}

.nav_perfil_tablet {
    display: none;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(186, 228, 210);
    border: 2px solid;
    border-color: rgb(186, 228, 210);
    border-radius: 10px;
    position: fixed;
    top: 310px;
    left: 50%;
    margin-left: -45%;
    z-index: 7;
    width: 90%;
    
}

.f { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.f a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.fn { grid-area: 1 / 1 / 2 / 2; 
    padding: 10px;
    display: flex;
    justify-content: center;
}
.fn a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}


.p { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.p a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.pn { grid-area: 1 / 2 / 2 / 3; 
    padding: 10px;
    display: flex;
    justify-content: center;
}
.pn a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}



.v { 
    grid-area: 1 / 3 / 2 / 4; 
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.v a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.vn { grid-area: 1 / 3 / 2 / 4; 
    padding: 10px;
    display: flex;
    justify-content: center;
}
.vn a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}



    
.limite2{
    display: none;
    width: 100%;
    height: 358px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 6;
}

.back{
    position: fixed;
    margin: 15px;
    z-index: 7;
}

.nav_reviews_tablet {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(186, 228, 210);
    border: 2px solid;
    border-color: rgb(186, 228, 210);
    border-radius: 10px;
    position: fixed;
    top: 262px;
    left: 50%;
    margin-left: -45%;
    z-index: 7;
    width: 90%;
    align-items: center;
}
    
.r { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px;   
}
.r a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.rn { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    padding: 5px;   
}
.rn a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}


.pu { 
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px; 
}
.pu a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.pun { 
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    justify-content: center;
    
    
}

.pun a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.contenedorx{
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 7;
    width: 100%;
    position: fixed;
    top: 70px;
}
.perf_res_tablet {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.x1 { grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    justify-content: center;
}
.x2 { grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
}
.x3 { grid-area: 3 / 1 / 4 / 2; 
    display: flex;
    justify-content: center;
    font-weight: 200;
    color: rgb(80, 130, 124);
}
    

.aaa{
    display: none;
    position: relative;
    top: 400px;
    left: 43px;
    width: 90%;
    justify-content: center;
}

.aiuda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
}

.a1 { grid-area: 1 / 1 / 2 / 2; 
    margin-bottom: 17px;
}
.a2 { grid-area: 2 / 1 / 3 / 2; 
    margin-bottom: 17px;
}
.a3 { grid-area: 3 / 1 / 4 / 2; 
    margin-bottom: 17px;
}
.a4 { grid-area: 4 / 1 / 5 / 2; 
    margin-bottom: 17px;
}
.a5 { grid-area: 5 / 1 / 6 / 2; 
    margin-bottom: 17px;
} 

.fav_perfil_tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 0.1fr);
    grid-template-rows: 0.1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    border: 2px solid;
    border-radius: 18px;
    border-color: rgb(186, 228, 210);
}

.fpt1 { 
    grid-area: 2 / 1 / 3 / 2; 
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    margin-top: -19px;
}
.fpt2 { 
    grid-area: 1 / 2 / 2 / 3; 
    
}
.fpt3 { grid-area: 1 / 3 / 2 / 4; }
.fpt4 { grid-area: 1 / 4 / 2 / 5; }
.fpt5 { grid-area: 1 / 5 / 2 / 6; }
.fpt6 { 
    grid-area: 2 / 2 / 3 / 6; 
    font-size: 14px;
    font-weight: 200;
}






    
/* Media Tablet */
@media (max-width: 1024px){
    
    .navbar_web {display: none;}

    .contenedor_nombre{display: flex;}

    .dropup{
        display: flex;
    }

    .titulo_region{
        display: flex;
    }

    .titulo_caribe{
        display: flex;
    }

    .titulo_web{
        display: none;
    }

    .contenedor_about{
        top: 320px;
        left: 15px;
    }

    .contenedor_cuerpo{
        display: block;
        top: 355px;
    }

    .galeria{
        top: 140px;
    }

    .contenedor_ldi{
        top: 110px;
    }

    .gallery2{
        display: none;
    }

    .cuerpo_web{
        display: none;
    }

    .contenedor_perfil{display: none;}

    .parent_perfil_tablet{display: grid;}

    .contenedor_perfil_tablet{display: block}

    .nav_perfil{display: none;}

    .nav_perfil_tablet{display: grid;}

    .limite2{display: flex;}

    .contenedor_reviews{display: none;}

    .contenedor_pub{display: none;}

    .contenedorx{display: flex;}

    .perf_res_tablet {display: grid;}

    .nav_reviews_tablet{display: grid;}

    .aaa{display: flex;}
}  

/* Media Movil */
@media (max-width: 480px) {

    .contenedor_recomendaciones {display: none;}

    .galeria_recomendaciones{display: none;}

    .dropup{display: none;}

    .contenedor_menu{
        display: flex;
    }

  }
